# General
.DS_Store
Thumbs.db
*.tmp
*.swp

# Environment
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn

RecSys/.env
RecSys/__pycache__/
RecSys/venv/
RecSys/.vscode/


backend/.env
