@import "tailwindcss";

:root {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff; 
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding:0;
}

button {
  cursor: pointer;
}

.pixel-border {
  border: 3px solid #000000;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.1); /* 살짝 입체감 */
}

